.container {
	display: flex;
	flex-direction: column;
}

.name {
	display: flex;
}

.tab {
	padding: 10px 20px;
	cursor: pointer;
	border: none;
	background-color: lightgray;
}

.activeTab {
	padding: 10px 20px;
	cursor: pointer;
	border: none;
	background-color: darkgray;
}

.content {
	padding: 20px;
	border: 1px solid lightgray;
	margin-top: 10px;
}
